<a href="https://colab.research.google.com/github/zerryberry/C1/blob/master/Stats_Take_home__my_exercise_Day_02_QuestionsNew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## TAKE HOME EXERCISE

Example: The following data represent the amount of soft drink filled in a sample of 50 consecutive 2-liter bottles as shown below:

|       |       |       |       |       |       |       |       |       |       |
| ----- | ----- | ----- | ----- | ----- | ----- | ----- | ----- | ----- | ----- |
| 2.109 | 2.086 | 2.066 | 2.075 | 2.065 | 2.057 | 2.052 | 2.044 | 2.036 | 2.038 | 
| 2.031 | 2.029 | 2.025 | 2.029 | 2.023 | 2.020 | 2.015 | 2.014 | 2.013 | 2.014 | 
| 2.012 | 2.012 | 2.012 | 2.010 | 2.005 | 2.003 | 1.999 | 1.996 | 1.997 | 1.992 | 
| 1.994 | 1.986 | 1.984 | 1.981 | 1.973 | 1.975 | 1.971 | 1.969 | 1.966 | 1.967 | 
| 1.963 | 1.957 | 1.951 | 1.951 | 1.947 | 1.941 | 1.941 | 1.938 | 1.908 | 1.894 | 

At 5% level of significance, is there evidence that the mean amount of soft drink filled is different from 2 litres?

#### 1.Use the following piece of code and try t test for one sample

In [4]:
import numpy       as np
import scipy.stats as stats
volume = np.array([2.109, 2.086, 2.066, 2.075, 2.065, 2.057, 2.052, 2.044, 2.036, 2.038, \
                   2.031, 2.029, 2.025, 2.029, 2.023, 2.020, 2.015, 2.014, 2.013, 2.014,\
                   2.012, 2.012, 2.012, 2.010, 2.005, 2.003, 1.999, 1.996, 1.997, 1.992,\
                   1.994, 1.986, 1.984, 1.981, 1.973, 1.975, 1.971, 1.969, 1.966, 1.967,\
                   1.963, 1.957, 1.951, 1.951, 1.947, 1.941, 1.941, 1.938, 1.908, 1.894])

print('Mean is %3.2f and standard deviation is %3.2f' %(volume.mean(),np.std(volume,ddof = 1)))

Mean is 2.00 and standard deviation is 0.04

###  Here the null hypothesis is that, H0 = MU pop = MU samp = 2 liters
### Alternate is that it is not equal to 2 litre

In [6]:
# 2 tailed T test. 
n= len(volume)
xbar= 2
s= 0.04
se= s/np.sqrt(n)

up_c= stats.t.isf(0.025, df=49, loc=2, scale=se)
lw_c= stats.t.isf(0.975, df=49, loc=2, scale=se)

print(up_c)
print(lw_c)

2.011367874204895
1.9886321257951052

In [10]:
# p value
print(stats.ttest_1samp(volume, 2))

# p value is 0.9

Ttest_1sampResult(statistic=0.11424484790269986, pvalue=0.9095105442498921)

In [11]:
# p value is more than 0.5 so we fail to reject null hypothesis.. so indeed, there is no
# evidence that the mean amount of soft drink filled is different from 2 litres.

###2. The hardness data of 25 samples of annealed iron is given below: 174 179 179 187 179 183 179 156 163 156 187 156 167 156 174 170 183 179 174 179 170 159 187
At 5% level of significance, can you say that the hardness is greater than 170?

In [ ]:
a= '174 179 179 187 179 183 179 156 163 156 187 156 167 156 174 170 183 179 174 179 170 159 187'
d= list(map(int, a.split(' ')))
d

In [ ]:
# Null- sample hardness = population hardness = 170
# alternate sample hardness > 170

In [21]:
print(stats.ttest_1samp(d, 170))

Ttest_1sampResult(statistic=1.2877422021643812, pvalue=0.21121745659874802)

In [26]:
# P value is more than 0.05, so we fail to reject null hypothesis. 

# indeed, hardness of iron in more than 170

**3. Sugar consumption in grams of 20 patients (both diabetic and non-diabetic) are given below:**

*At 5% level of significance, is there any evidence that the mean sugar consumption is different for diabetic and non-diabetic?    
In the following table, 0 means diabetic and 1 means non-diabetic.*

In [27]:
import numpy       as np
import scipy.stats as stats
weight               = np.array([[9.31, 0],[7.76, 0],[6.98, 1],[7.88, 1],[8.49, 1],[10.05, 1],[8.80, 1],[10.88, 1],[6.13, 1],[7.90, 1], \
                            [11.51, 0],[12.59, 0],[7.05, 1],[11.85, 0],[9.99, 0],[7.48, 0],[8.79, 0],[8.69, 1],[9.68, 0],[8.58, 1],\
                           [9.19, 0],[8.11, 1]])

sugar_diabetic       = weight[:,1] == 0
sugar_diabetic       = weight[sugar_diabetic][:,0]
sugar_nondiabetic    = weight[:,1] == 1
sugar_nondiabetic    = weight[sugar_nondiabetic][:,0]

In [30]:
# Independent T test

# null - sugar consumption is same for diabetic and non-diabetic

stats.ttest_ind(sugar_diabetic, sugar_nondiabetic)

Ttest_indResult(statistic=2.3730593333971224, pvalue=0.02777741611352253)

In [ ]:
# p value is less than 0.05. 

# indeed the sugar consumption is different for diabetic and non-diabetic

### Hint: Independent two samples test

**4. The delivery time of Pizza from an online food delivery service firm and the home delivery from a local restaurant are given below: At 5% level of significance, is the mean delivery time for online delivery food service firm is less than the mean delivery time for the home delivery from a local restaurant.**

In [31]:
Pizza_delivery_online = [16.8, 11.7, 15.6, 16.7, 17.5, 18.1, 14.1, 21.8, 13.9, 20.8]
Pizza_delivery_local  = [22.0, 15.2, 18.7, 15.6, 20.8, 19.5, 17.0, 19.5, 16.5, 24.0]

#### Hint: Use paired t test

In [32]:
# null - both time is same. 
# alternate -- mean delivery time for online delivery food service firm is less than the mean delivery time for the home delivery

stats.ttest_rel(Pizza_delivery_local, Pizza_delivery_online)

Ttest_relResult(statistic=3.0447930464454114, pvalue=0.013909593560837055)

In [33]:
# p value is less than 0.05. so indeed mean delivery time for online delivery food service firm is less than the mean delivery time for the home delivery

print(np.mean(Pizza_delivery_online))
print(np.mean(Pizza_delivery_local))

16.700000000000003
18.880000000000003

## End